<html>
  <head>
    <title>Natixis Securities</title>
    {%- block head -%}{%- endblock -%}
  </head>
  <body >
    {%- block body -%}
    <div>
      <h1>Transaction Test Jobs</h1>
    </div>
    <div>
      <a href="{{ uri_for('home') }}">Home</a>
      <a href="{{ uri_for('jobs') }}">Jobs</a>
    </div>
    {%- block header -%}{%- endblock -%}
    {%- block content -%}{%- endblock -%}
    {%- block footer -%}{%- endblock -%}
    {%- block scripts -%}{%- endblock -%}
    {%- endblock -%}
  </body>
</html>

